# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Build outputs
bin/
out/
target/
.gradle/
build/

# IDE files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Assignments reference folder
Assignments/
